doctype html
html
  head
    title Dance Academy
    block scripts
    block style 
  body
    nav#navbar
        ul
            div#logo
                img(src="/static/img/logo.png")
                | Dance Academy
            li #[a(href="/home") Home]
            li #[a(href="/about") About]
            li #[a(href="/services") Services]
            li #[a(href="/class_info") Class Info]
            li #[a(href="/contact") Contact Us]
        
    block content
    footer#footer
        | Copyright © 2022 DanceAcademy.com | All rights reserved